/* Обнуление */

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

nav,
footer,
header,
aside {
    display: block;
}

a {
    display: inline-block;
    color: inherit;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input[type='number'] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}


/* Подключение шрифтов */

@font-face {
    font-family: roboto-regular;
    src: url(../fonts/roboto.woff2) format("woff2"), url(../fonts/roboto.woff) format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: roboto-medium;
    src: url(../fonts/robotomedium.woff2) format("woff2"), url(../fonts/robotomedium.woff) format("woff");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: roboto-bold;
    src: url(../fonts/robotobold.woff2) format("woff2"), url(../fonts.robotobold.woff) format("woff");
    font-weight: 700;
    font-style: normal;
}


/* Цвета */

:root {
    --basic-black: #000;
    --basic-white: #fff;
    --basic-dark: #283136;
    --basic-header: #EEEEEE;
    --basic-darker: #D5D5D5;
    --basic-neutral: #DFDFDF;
    --basic-grey: #444444;
    --basic-ligth-grey: #DBDBDB;
    --basic-sort: #A6A6A6;
    --basic-adress: #666666;
    --custom-radio: #B8B8B8;
    --toggle: #ABABAB;
    --basic-control: #C1C1C1;
    --special: #FB565A;
    --special-btn-hover: #E74246;
    --special-btn-active: #D7373B;
    --special-apps: #00CA74;
    --special-apps-hover: #00BC6C;
    --special-apps-active: #00AA62;
    --special-presentations: #EFC84A;
    --special-presentations-hover: #EAB534;
    --special-presenattions-active: #E5A722;
    --social-btn-peace: #E1E1E1;
    --btn-active-text: rgba(255, 255, 255, .3);
    --btn-active-catalog-text: rgba(0, 0, 0, .3);
    --special-modal-peace: #D7DCDE;
    --special-modal-hover: #B4B9BB;
}

html {
    height: 100%;
}

body {
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    min-height: 100%;
    font-family: roboto-medium;
    font-weight: 500;
    line-height: 24px;
    font-size: 16px;
    color: var(--basic-black);
}


/* Контейнер */

.container {
    width: 1180px;
    margin: 0 auto;
    padding: 0 10px;
}


/* Анимация для всех интерактивных елементов */

*:hover,
*:focus,
*:active,
*:hover *,
*:focus * {
    transition: 0.3s
}


/* Кнопки */

.btn,
.slider-item a {
    display: inline-block;
    border-radius: 3px;
    font-family: roboto-medium;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    background-color: var(--special);
    color: var(--basic-white);
    text-transform: uppercase;
    text-align: center;
}

.btn:hover,
.btn:focus,
.slider-item a:hover,
.slider-item a:focus {
    color: var(--basic-white);
    background-color: var(--special-btn-hover);
}

.btn:active,
.slider-item a:active {
    color: var(--btn-active-text);
    background-color: var(--special-btn-active);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}


/* Для читалок */

.sr-only {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}


/* Шапка */

.colored-header {
    background-color: var(--basic-header);
}

.header {
    padding-top: 48px;
}

.logo {
    width: 160px;
    height: 67px;
}

.logo:hover,
.logo:focus {
    opacity: .8;
    outline: none;
}

.logo:active {
    opacity: .3;
}

.nav-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 45px;
    margin-left: -42px;
    width: 438px;
}

.user-nav {
    line-height: 30px;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item:hover,
.nav-item:focus {
    color: var(--special);
}

.nav-item:active {
    color: var(--basic-black);
    opacity: .3;
}

.cart {
    position: relative;
    width: 115px;
    padding-left: 40px;
}

.cart::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background: no-repeat url(../svg/cart-icon.svg) 0 0;
    left: 0px;
    bottom: 0px;
}

.on-page {
    position: relative;
}

.on-page::before {
    content: "";
    top: 45px;
    margin: 0 auto;
    width: 74px;
    height: 2px;
    background-color: var(--special);
    position: absolute;
}


/* Слайдер */

.slider-item {
    display: none;
}

.slider-current {
    display: block;
}

.caption {
    font-size: 55px;
    line-height: 55px;
}

.slider-caption {
    margin-bottom: 24px;
    width: 520px;
}

.wrapper-slider {
    margin-bottom: 80px;
    position: relative;
}

.slider-item p:nth-child(2) {
    font-size: 16px;
    font-family: roboto-regular;
    font-weight: 400;
}

.slider-item-wrapper {
    display: flex;
    justify-content: space-between;
}

.slide1-pic {
    width: 698px;
    height: 413px;
    margin-right: 21px;
}

.slide2-pic {
    width: 663px;
    height: 430px;
    position: relative;
    left: -8px;
}

.slide3-pic {
    width: 759px;
    height: 411px;
}

.slider-text-wrapper {
    padding-top: 74px;
    padding-left: 10px;
}

.slide-text1 {
    max-width: 390px;
}

.slide-text2 {
    max-width: 515px;
}

.slide-text3 {
    max-width: 406px;
}

.slider-desc {
    margin-bottom: 44px;
}

.slider-btn {
    padding: 13px 54px 19px;
}

.slider-controls {
    display: flex;
    left: 50%;
    transform: translate(-50%, 0);
    gap: 17px;
    position: absolute;
    bottom: 96px;
}

.control {
    width: 21px;
    height: 21px;
    border-radius: 50%;
    background-color: var(--basic-white);
}

.control-current {
    text-align: center;
    position: relative;
    top: 4px;
}

.control-current div {
    box-sizing: content-box;
    width: 4px;
    height: 4px;
    background-color: var(--basic-white);
    border: 2px solid var(--basic-control);
    border-radius: 50%;
    margin: 0 auto;
}


/* Блок с услугами */

.advantages {
    margin-bottom: 80px;
}

.advantages-list {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 100px;
}

.advantage-pic {
    margin-bottom: 30px;
}

.advantage-item h3 {
    text-transform: uppercase;
    font-family: roboto-bold;
    font-weight: 700;
    line-height: 30px;
    font-size: 24px;
    margin-bottom: 30px;
}

.advantage-item p {
    font-family: roboto-regular;
    font-weight: 400;
    color: var(--basic-dark);
    margin-bottom: 44px;
}

.advantage-item a {
    text-transform: uppercase;
    color: var(--basic-white);
    line-height: 16px;
}

.advantage-btn {
    padding: 13px 37px 19px;
}

.advantage-app-btn {
    background-color: var(--special-apps);
}

.advantage-app-btn:hover,
.advantage-app-btn:focus {
    background-color: var(--special-apps-hover);
}

.advantage-app-btn:active {
    background-color: var(--special-apps-active);
}

.advantage-presentation-btn {
    background-color: var(--special-presentations);
}

.advantage-presentation-btn:hover,
.advantage-presentation-btn:focus {
    background-color: var(--special-presentations-hover);
}

.advantage-presentation-btn:active {
    background-color: var(--special-presenattions-active);
}


/* Информация */

.info {
    border-top: 2px solid var(--basic-header);
    padding-bottom: 75px;
}

.about-us {
    width: 755px;
    margin-right: 45px;
}

.about-title {
    padding-top: 42px;
    margin-bottom: 45px;
}

.about-desc {
    margin-bottom: 53px;
}

.about-list-title {
    margin-bottom: 24px;
}

.info-wrapper {
    display: flex;
    justify-content: space-between;
}

.about-us p:nth-child(2) {
    font-size: 45px;
    line-height: 45px;
}

.about-us p:nth-child(3) {
    font-family: roboto-regular;
    font-weight: 400;
    color: var(--basic-dark);
}

.about-us p:nth-child(4) {
    font-family: roboto-bold;
    font-weight: 700;
    color: var(--basic-dark);
    text-transform: uppercase;
}

.orders-list {
    font-family: roboto-regular;
    font-weight: 400;
    color: var(--basic-dark);
}

.orders-list li {
    margin-bottom: 35px;
    padding-left: 12px;
    position: relative;
}

.orders-list li::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 2px;
    left: 0;
    top: 50%;
    transform: translate(0, - 50%);
    background-color: var(--special);
    z-index: -1;
}

.orders-list li:last-child {
    margin-bottom: 0;
}

.statistic {
    padding-top: 40px;
}

.statistic-logo {
    width: 360px;
    height: 208px;
    margin-bottom: 35px;
}

.statistic p:nth-child(3) {
    font-family: roboto-bold;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 60px;
}

.percents-list {
    font-family: roboto-bold;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
}

.percents-list li {
    margin-right: 30px;
}

.statistic-title {
    font-size: 45px;
    line-height: 30px;
    margin-bottom: 15px;
    position: relative;
}

.statistic-title span {
    font-size: 26px;
    position: absolute;
    top: -13px;
}

.percents-list li p {
    font-family: roboto-regular;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: var(--basic-dark);
}


/* Список партнеров */

.parthners {
    border-bottom: 2px solid var(--basic-header);
    border-top: 2px solid var(--basic-header);
    margin-bottom: 80px;
}

.parthners-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    min-height: 180px;
    align-items: center;
    justify-items: center;
    position: relative;
}

.parthner-item {
    position: relative;
    opacity: .2;
}

.parthners-list li:not(:last-child)::after {
    content: "";
    position: absolute;
    background-color: var(--basic-header);
    width: 2px;
    height: 52px;
    top: 36%;
    margin-left: 4%;
}

.parthner-item:hover,
.parthner-item:focus {
    opacity: 1;
    outline: none;
}

.parthner-item:active {
    opacity: .1;
}


/* Карта */

section-map {
    padding: 55px 0;
}

.map {
    background: no-repeat url(../img/map.jpg);
    margin: 0 auto;
}

.block-pos {
    position: relative;
}


/* Блок с адрессом */

.adress-block {
    background-color: var(--basic-white);
    width: 319px;
    min-height: 308px;
    position: absolute;
    top: 54px;
    left: 140px;
}

.adress-block p {
    font-family: roboto-bold;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
}

.adress-container {
    width: 218px;
    margin: 0 auto;
    padding: 47px 0;
}

.adress-title {
    margin-bottom: 30px;
}

.adress-info {
    font-family: roboto-regular;
    font-weight: 400;
    line-height: 18px;
    color: var(--basic-adress);
}

.adress-info a {
    color: var(--basic-adress);
}

.adress-info address {
    font-style: normal;
}

.adress-desc {
    margin-bottom: 20px;
}

.adress-title {
    margin-bottom: 30px;
}

.adress-info a {
    color: var(--basic-adress);
}

.social-list a {
    display: block;
    width: 81px;
    height: 81px;
    border-radius: 50%;
    font-size: 0;
    background-color: var(--social-btn-peace);
}

.social-wrapper {
    display: flex;
    align-items: center;
}

.social-list a:hover,
.social-list a:focus {
    background-color: var(--special-btn-hover);
}

.social-list a:active {
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
    background-color: var(--special-btn-active);
}

.vk {
    background: no-repeat url(../svg/vk-icon.svg) center;
}

.facebook {
    background: no-repeat url(../svg/fb-icon.svg) center;
}

.instagram {
    background: no-repeat url(../svg/insta-icon.svg) center;
}

.number {
    display: block;
    margin-bottom: 40px;
}

.social {
    padding: 70px 0;
}

.social-slogan {
    font-family: roboto-bold;
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 23px;
}

.social-desc {
    font-family: roboto-regular;
    font-weight: 400;
    line-height: 22px;
    color: var(--basic-grey);
}

.social-list {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-right: 138px;
    width: 320px;
}

.write-us {
    position: fixed;
    background-color: var(--basic-white);
    filter: drop-shadow(0px 20px 40px rgba(0, 1, 1, 0.75));
    width: 960px;
    height: 590px;
    padding: 64px 0 84px 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.modal-show {
    display: block;
    animation-name: bounce;
    animation-duration: 2s;
}

.modal-container {
    margin: 0 auto;
    width: 791px;
    padding: 0 10px;
    height: 100%;
}

.btn-module {
    padding: 13px 80px 19px;
}

.input-name {
    margin-bottom: 35px;
}

.write-us h2 {
    line-height: 45px;
    font-size: 45px;
}

.write-us-form {
    line-height: 18px;
    font-family: roboto-bold;
    font-weight: 700;
}

.adress-btn {
    padding: 13px 41px 19px;
}

.modal-wrapper-title {
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

.modal-wrapper-title h2 {
    margin-bottom: 45px;
}

.modal-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
}

.modal-wrapper label div {
    margin-bottom: 17px;
}

.modal-input {
    width: 100%;
    height: 50px;
    padding: 0 0 5px 15px;
}

.textarea {
    resize: none;
    height: 118px;
    padding: 10px 0 0 14px;
}

.modal-close-btn {
    width: 21px;
    height: 21px;
    font-size: 0;
    opacity: .3;
    background: no-repeat url(../svg/close-cross.svg) center;
    justify-self: end;
}

.textarea-title {
    margin-bottom: 17px;
}

.textarea {
    margin-bottom: 47px;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    opacity: 1;
}

.modal-close-btn:active {
    opacity: .1;
}

.modal-input {
    font-size: 16px;
    font-family: roboto-regular;
    font-weight: 400;
    color: var(--basic-grey);
    border: solid 2px var(--special-modal-peace);
}

.modal-input:hover {
    border-color: var(--special-modal-hover);
}

.modal-input:focus {
    border-color: var(--basic-black);
}

.modal-input:invalid {
    border-color: var(--special-btn-hover);
    color: var(--special-btn-hover);
}


/* Catalog */

.catalog-wrapper {
    display: grid;
    grid-template-columns: 260px 1fr;
    grid-gap: 140px;
}


/* Caption */

.catalog-title {
    padding: 65px 0 120px 0;
    text-align: center;
}


/* Фильтр */

.filter {
    padding-top: 55px;
}

.cost-legend {
    margin-bottom: 55px;
}

.range-controls {
    height: 80px;
    background-color: var(--basic-header);
    border-radius: 3px;
    padding: 39px 21px 0 20px;
    margin-bottom: 14px;
    position: relative;
}

.scale {
    height: 2px;
    background-color: var(--special-modal-peace);
}

.bar {
    height: 2px;
    width: 70%;
    background-color: var(--special-apps);
}

.toggle {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: var(--toggle);
    border: 8px solid var(--basic-white);
    box-shadow: 0px 2px 1px 0 #cfcfcf;
    position: absolute;
    top: 31px;
    left: 0;
    cursor: pointer;
}

.toggle-min {
    left: 18px;
}

.toggle-max {
    left: 160px;
}

.filter-legend {
    color: var(--basic-black);
    text-transform: uppercase;
    font-family: roboto-bold;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
}

.filter-form {
    font-family: roboto-regular;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: var(--basic-dark);
    width: 260px;
}

.cost-filter {
    line-height: 22px;
    text-transform: uppercase;
    margin-bottom: 45px;
}

.cost-filter label span {
    margin-right: 12px;
}

.cost-input-wrapper {
    display: flex;
    justify-content: space-between;
}

input[type="number"] {
    background-color: var(--basic-header);
    width: 80px;
    height: 38px;
    border-radius: 3px;
    text-align: center;
}

.layout-legend {
    margin-bottom: 25px;
}

.layout-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.layout-wrapper label {
    display: flex;
    align-items: center;
    user-select: none;
    cursor: pointer;
    padding-left: 35px;
}

.custom-radio {
    position: absolute;
    margin-left: -35px;
}

.real-radio+.custom-radio {
    background-image: url(../svg/radio-off.svg);
    opacity: .4;
    width: 25px;
    height: 25px;
}

.real-radio:checked+.custom-radio {
    width: 25px;
    height: 25px;
    background-image: url(../svg/radio-on.svg);
    opacity: .4;
}

.real-radio:hover+.custom-radio,
.real-radio:focus+.custom-radio {
    opacity: 1;
}

.real-radio:disabled+.custom-radio {
    opacity: 0.1;
}

.layout-filter {
    margin-bottom: 40px;
}

.func-filter {
    margin-bottom: 48px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.func-filter label {
    display: flex;
    align-items: center;
    user-select: none;
    cursor: pointer;
    padding-left: 37px;
}

.custom-checkbox {
    position: absolute;
    margin-left: -37px;
}

.real-checkbox+.custom-checkbox {
    width: 23px;
    height: 23px;
    background-image: url(../svg/checkbox-off.svg);
    opacity: .4;
}

.real-checkbox:checked+.custom-checkbox {
    width: 27px;
    height: 23px;
    background-image: url(../svg/checkbox-on.svg);
    opacity: .4;
}

.real-checkbox:disabled+.custom-checkbox {
    opacity: 0.1;
}

.real-checkbox:hover+.custom-checkbox,
.real-checkbox:focus+.custom-checkbox {
    opacity: 1;
}

.func-legend {
    margin-bottom: 30px;
}

.filter-btn {
    color: var(--basic-black);
    background-color: var(--basic-header);
    padding: 13px 83px 19px;
}

.filter-btn:hover,
.filter-btn:focus {
    color: var(--basic-black);
    background-color: var(--basic-neutral);
}

.filter-btn:active {
    color: var(--basic-black);
    color: var(--btn-active-catalog);
    background-color: var(--basic-darker);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}


/* Сортировка */

.sorting {
    padding: 57px 0 60px 0;
}

.sorting,
.sorting-wrapper,
.sorting-btn-wrapper,
.sorting-dir-wrapper {
    display: flex;
    justify-content: space-between;
}

.sorting-wrapper {
    gap: 45px;
}

.sorting-btn-wrapper {
    gap: 27px;
    width: 275px;
    flex-wrap: wrap;
}

.sorting-dir-wrapper {
    gap: 18px;
    flex-wrap: wrap;
}

.sorting-btn {
    text-transform: uppercase;
    font-family: roboto-regular;
    font-weight: 400;
    background-color: transparent;
    font-size: 14px;
    line-height: 18px;
    opacity: .3;
    color: var(--basic-dark);
}

.sorting-btn:hover,
.sorting-btn:focus {
    opacity: .6;
}

.sorting-btn:disabled,
.sorting-btn:active {
    opacity: 1;
}


/* Стрелочки сортирования */

.dir {
    width: 11px;
    height: 10px;
    font-size: 0;
    opacity: .2;
}

.dir-down {
    background: no-repeat url(../svg/icon-down-dir.svg) center;
}

.dir:hover,
.dir:focus {
    opacity: .5;
}

.dir:active,
.dir:disabled {
    opacity: 1;
}

.dir-up {
    background: no-repeat url(../svg/icon-up-dir.svg) center;
}


/* Items */

.models-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 33px 40px;
}

.browser-pic {
    opacity: .12;
}

.model-item {
    position: relative;
    box-shadow: 0px 6px 15px rgba(0, 1, 1, 0.25);
}

.model-item:hover .browser-pic {
    opacity: 1;
}

.model-item:focus .browser-pic {
    opacity: 1;
}

.model-item:hover .model-info {
    display: block;
}

.model-item:focus .model-info {
    display: block;
}

.model-item:hover .model-fogging {
    display: block;
}

.model-item:focus .model-fogging {
    display: block;
}

.model-fogging {
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    width: 360px;
    height: 576px;
    top: 40px;
    display: none;
}


/* .model-item:hover .model-fogging {
    background-color: var(--btn-active-catalog-text);
} */

.model-info {
    display: none;
    width: 360px;
    height: 231px;
    background-color: var(--basic-header);
    padding: 21px 0 43px 0;
    text-align: center;
    position: absolute;
    top: 385px;
}

.model-title {
    font-family: roboto-bold;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    margin-bottom: 22px;
}

.model-title:hover,
.model-title:focus {
    color: var(--special);
}

.model-title:active {
    color: var(--basic-black);
    opacity: .3;
}

.model-desc {
    font-family: roboto-regular;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: var(--basic-adress);
    margin-bottom: 32px;
}

.model-btn {
    padding: 13px 58px 19px;
    color: var(--basic-white);
}


/* Хлебные крошки */

.bread-crumbs {
    padding: 60px 0;
}

.crumbs-list {
    display: grid;
    width: 443px;
    grid-template-columns: 50px 50px 50px 1fr;
    grid-gap: 11px;
}

.crumbs-list li a {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 3px;
    border-radius: 3px;
    background-color: var(--basic-header);
}

.next-page-btn {
    display: inline-flex;
    justify-content: center;
    text-transform: uppercase;
}

.crumbs-active {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: var(--basic-white);
    border-radius: 0px;
    border: solid var(--basic-ligth-grey) 3px;
}

.crumbs-list li:hover,
.crumbs-list li:focus {
    background-color: var(--basic-neutral);
    border-radius: 3px;
}

.crumbs-list li:active {
    color: var(--btn-active-catalog-text);
    background-color: var(--basic-darker);
    box-shadow: 0px 3px 0px 0px #0001011A inset;
    border-radius: 3px;
}